<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <!--Splide css-->
    <link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" rel="stylesheet">
    <!--Custom css-->
    <link rel="stylesheet" href="css/style.css"/>
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>SMU-CSC</title>
  </head>
  <body>
    <main>
      <div class="big-wrapper light">
        <img src="/images/shape.png" alt="" class="shape" />

        <header class="fixed-top">
          <div class="container fixed-top">
            <div class="logo">
              <h3>SMU-CSC</h3>
            </div>

            <div class="links">
              <ul>
                <li><a href="#">Home</a></li>
                <li><a href="news.html">News</a></li>
                <li><a href="events.html">Events</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li><a href="registration.html" class="btn">Register</a></li>
              </ul>
            </div>

            <div class="overlay"></div>

            <div class="hamburger-menu">
              <div class="bar"></div>
            </div>
          </div>
        </header>
        <div class="showcase-area">
          <div class="container">
            <div class="left">
              <div class="big-title">
                <h1>St. Mary's CS Club</h1>
                <h1>Innovate, Create, Code!</h1>
              </div>
              <p class="text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Delectus eius distinctio odit, magni magnam qui ex perferendis
                vitae!
              </p>
              <div class="cta">
                <a href="#" class="btn">Get started</a>
              </div>
            </div>

            <div class="right">
              <img src="images/person.png" alt="Person Image" class="person" />
            </div>
          </div>
        </div>

        <div class="bottom-area">
          <div class="container">
            <button class="toggle-btn mode">
              <i class="far fa-moon"></i>
              <i class="far fa-sun"></i>
            </button>
          </div>
        </div>
      </div>
    </main>

<section class="goals">
  <div class="goals-container">
    <div class="row">
    <div class="col-lg-3 col-sm-6 g-4"><div class="goal"><i class="fa fa-graduation-cap" aria-hidden="true"></i>Learn</div></div> 
    <div class="col-lg-3 col-sm-6 g-4"><div class="goal"><i class="fa fa-users" aria-hidden="true"></i>Network</div></div> 
    <div class="col-lg-3 col-sm-6 g-4"><div class="goal"><i class="fa fa-code" aria-hidden="true"></i>Code</div></div> 
    <div class="col-lg-3 col-sm-6 g-4"><div class="goal"><i class="fa fa-search" aria-hidden="true"></i>Explore</div></div> 
  </div>
  </div>
</section>

<section class="about-us">
  <div class="about">
    <div class="row">
      <div class="col-md-4">
    <img src="images/us.jpg" class="pic">
    </div>
    <div class="col-md-8">
      <div class="text">
        <h2>About Us</h2>
        <h5>St. Mary's Computer Science club</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita natus ad sed harum itaque ullam enim quas, veniam accusantium, quia animi id eos adipisci iusto molestias asperiores explicabo cum vero atque amet corporis! Soluta illum facere consequuntur magni. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita natus ad sed harum itaque ullam enim quas, veniam accusantium, quia animi id eos adipisci iusto molestias asperiores explicabo cum vero atque amet corporis! Soluta illum facere consequuntur magni. Ullam dolorem repudiandae cumque voluptate consequatur consectetur, eos provident necessitatibus reiciendis corrupti!</p>
        <div class="data">
        <a href="#" class="learnmore">Learn more</a>
        </div>

    </div>
    
    </div>
  </div>
</section>

<section class="splide">
  <div class="text">
    <h2>Take a Look...</h2>
  </div>
  <div class="splide__track">
    <div class="splide__list">
      <div class="splide__slide">
        <div class="img_box">
          <img src="images/photo1.jpg" alt="">
        </div>
      </div>
      <div class="splide__slide">
        <div class="img_box">
          <img src="images/photo2.jpg" alt="">
        </div>
      </div>
      <div class="splide__slide">
        <div class="img_box">
          <img src="images/us.jpg" alt="">
        </div>
      </div>
      

    </div>
  </div>
</section>

<section class="contact-us">
  <div class="container_contact">
      <div class="content">
        <div class="left-side">
          <div class="address details">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <div class="topic">Address</div>
            <div class="text-one">St Mary's University</div>
            <div class="text-two">Shebelle Campus, No. 65</div>
          </div>
          <div class="phone details">
            <i class="fa fa-phone" aria-hidden="true"></i>
            <div class="topic">Phone</div>
            <div class="text-one">+2519935647</div>
            <div class="text-two">+2518676868</div>
          </div>
          <div class="email details">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <div class="topic">Email</div>
            <div class="text-one">smucsc@gmail.com</div>
            <div class="text-one">cscoffice@gmail.com</div>
          </div>
        </div>
        <div class="right-side">
          <div class="topic-text">Send us a message</div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic perspiciatis libero optio laborum itaque eum aliquam, inventore delectus quam harum.</p>
        <form action="/comment">
          <div class="input-box">
            <input type="text" placeholder="Enter your name" name="name">
          </div>
          <div class="input-box">
            <input type="text" placeholder="Enter your email" name="email">
          </div>
          <div class="input-box message-box">
            <textarea name="comment" id="msg" cols="30" rows="10" placeholder="Comment"></textarea>
          </div>
          <div class="button">
            <input type="submit"  >
          </div>
        </form>
      </div>
      </div>
    </div>
  </section> 
 
  <section id="footer">
    <div class="container">
      <div class="row text-center text-xs-center text-sm-left text-md-left">
        <div class="col-xs-12 col-sm-4 col-md-4">
          <h5>Quick links</h5>
          <ul class="list-unstyled quick-links">
            <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Home</a></li>
            <li><a href="#"><i class="fa fa-angle-double-right"></i>About</a></li>
            <li><a href="#"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
            <li><a href="#"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
            
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <h5>Quick links</h5>
          <ul class="list-unstyled quick-links">
            <li><a href="#"><i class="fa fa-angle-double-right"></i>Home</a></li>
            <li><a href="#"><i class="fa fa-angle-double-right"></i>About</a></li>
            <li><a href="#"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
            <li><a href="#"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
            
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <h5>Quick links</h5>
          <ul class="list-unstyled quick-links">
            <li><a href="#"><i class="fa fa-angle-double-right"></i>Home</a></li>
            <li><a href="#"><i class="fa fa-angle-double-right"></i>About</a></li>
            <li><a href="#"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
            <li><a href="#"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
            
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
          <ul class="list-unstyled list-inline social text-center">
            <li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-envelope"></i></a></li>
          </ul>
        </div>
        </hr>
      </div>  
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
          <p><u>St. Mary's Computer Science Club</u></p>
          <p class="h6">&copy All right Reserved.</p>
        </div>
        </hr>
      </div>  
    </div>
 </section>




<!--JS-->    
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <script src="../public/js/app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
    <script type="text/javascript">
      var splide = new Splide( '.splide', {
  perPage: 3,
  perMove: 1,
  gap    : '1.5rem',
  padding: '3rem',
  type: 'loop',
  drag: 'free',
  snap: 'true',
  arows: 'true',
  pagination: 'false',
  autoplay: 'true',
  breakpoints: {
    1000: {
      perPage: 2,
      gap    : '.7rem',
      padding: '1.5rem',
    },
    650: {
      perPage: 1,
      gap    : '.7rem',
      padding: '1.5rem',
    },
  },
} );

splide.mount();
    </script>
  </body>
</html>
