<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../public/style.css">
    <link rel="stylesheet" href="../public/newsEvents.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>News</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
            <div class="container">
              <img class="navbar-brand" src="images/pict0-3583.jpg">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="navbar-nav ms-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="index.html">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="news.html" style="color: #1482e3;">News</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="events.html">Events</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Gallery</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">About</a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">About us</a></li>
                      <li><a class="dropdown-item" href="#">Contact</a></li>
                      <li><a class="dropdown-item" href="#">Get involved</a></li>
                      
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#popup" style="background-color: #2a2a62; color: white; width: fit-content; border-radius: 25px; padding: 0px, 5px;">Register</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>


          <div class="overlay" id="popup">
            <div class="wrapper">
              <h2>Register</h2>
              <a href="#" class="close">&times;</a>
              <div class="content">
                <div class="form-container">
                    <form action="">
                        <input type="text" name="firstName" placeholder="First Name">
                        <input type="text" name="lastName" placeholder="Last Name">
                        <label>Gender</label>
                        <input type="radio" name="gender" id="male" value="male">
                        <label for="male" class="selection">Male</label>
                        <input type="radio" name="gender" id="male" value="female">
                        <label for="female" class="selection">Female</label><br>
                        <input type="text" name="schoolId" placeholder="ID">
                        <input type="text" name="section" placeholder="Section">
                        <input type="email" name="email" placeholder="Email">
                        <input type="tel" name="phoneNumber" placeholder="Phone Number"><br>
    
                        <label for="skillLevel">Interest</label><br>
                        <input type="checkbox" name="skillLevel" id="skillLevel" value="skillLevel">
                        <label for="skillLevel" class="selection">Programming</label><br>
                        <input type="checkbox" name="skillLevel" id="skillLevel" value="skillLevel">
                        <label for="skillLevel" class="selection">Artificial Intelligence</label><br>
                        <input type="checkbox" name="skillLevel" id="skillLevel" value="skillLevel">
                        <label for="skillLevel" class="selection">Cybersecurity</label><br>
                        <input type="checkbox" name="skillLevel" id="skillLevel" value="skillLevel">
                        <label for="skillLevel" class="selection">Web Development</label><br>
                        <input type="checkbox" name="skillLevel" id="skillLevel" value="skillLevel">
                        <label for="skillLevel" class="selection">Data science</label><br><br>
    
                        <label for="interest">Your skill level at your most preffered interest is:</label>
                        <select name="interest" id="interest">
                          <option value="programming">Beginner</option>
                          <option value="programming">Intermediate</option>
                          <option value="programming">Advanced</option>
                          </select><br><br>
    
                        <input type="submit" name="submit">
    
                      </form>
                </div>
              </div>
            </div>
          </div>
        

        <section class="welcome" style="height: 45vh; padding-top: 25vh;">
            <div class="container">
                <h1>News</h1>
                <p>Lorem ipsum dolor sit.</p>
              </div>

        </section>

    </header>

    <section class="news-section">
<div class="section-content news">
    <div class="news-cards">
        <div class="news-card">
            <div class="image-section">
                <img src="images/AI.jpg" alt="">
            </div>
            <div class="article">
                <h4>Title one</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex quasi magnam distinctio in, quidem deleniti tenetur repellendus quaerat voluptatem harum!</p>
            </div>
            <div class="news-view">
                <a href="" class="button">Read More</a>
            </div>
            <div class="posted-date">
                <p>Posted on jul 1 2023</p>
            </div>
        </div>

        <div class="news-card">
            <div class="image-section">
                <img src="images/AI.jpg" alt="">
            </div>
            <div class="article">
                <h4>Title one</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex quasi magnam distinctio in, quidem deleniti tenetur repellendus quaerat voluptatem harum!</p>
            </div>
            <div class="news-view">
                <a href="" class="button">Read More</a>
            </div>
            <div class="posted-date">
                <p>Posted on jul 1 2023</p>
            </div>
        </div>

        <div class="news-card">
            <div class="image-section">
                <img src="images/AI.jpg" alt="">
            </div>
            <div class="article">
                <h4>Title one</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex quasi magnam distinctio in, quidem deleniti tenetur repellendus quaerat voluptatem harum!</p>
            </div>
            <div class="news-view">
                <a href="" class="button">Read More</a>
            </div>
            <div class="posted-date">
                <p>Posted on jul 1 2023</p>
            </div>
        </div>


    </div>
</div>

    </section>

    <section id="footer">
        <div class="container">
          <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-4">
              <h5>Quick links</h5>
              <ul class="list-unstyled quick-links">
                <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Home</a></li>
                <li><a href="#"><i class="fa fa-angle-double-right"></i>About</a></li>
                <li><a href="#"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
                <li><a href="#"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
                
              </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
              <h5>Quick links</h5>
              <ul class="list-unstyled quick-links">
                <li><a href="#"><i class="fa fa-angle-double-right"></i>Home</a></li>
                <li><a href="#"><i class="fa fa-angle-double-right"></i>About</a></li>
                <li><a href="#"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
                <li><a href="#"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
                
              </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
              <h5>Quick links</h5>
              <ul class="list-unstyled quick-links">
                <li><a href="#"><i class="fa fa-angle-double-right"></i>Home</a></li>
                <li><a href="#"><i class="fa fa-angle-double-right"></i>About</a></li>
                <li><a href="#"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
                <li><a href="#"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
                
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
              <ul class="list-unstyled list-inline social text-center">
                <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-envelope"></i></a></li>
              </ul>
            </div>
            </hr>
          </div>  
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
              <p><u>St. Mary's Computer Science Club</u></p>
              <p class="h6">&copy All right Reserved.</p>
            </div>
            </hr>
          </div>  
        </div>
     </section>
    
</body>
</html>