<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!---Custom CSS File--->
    <link rel="stylesheet" href="css/registration.css" />
    <title>Registration</title>
  </head>
  <body>
    <section class="container">
      <header>Registration Form</header>
      <form action="/newMembership" method="post" class="form">
        <div class="column">
            <div class="input-box">
              <label>First Name</label>
              <input type="text" name="firstName" placeholder="First Name" required />
            </div>
            <div class="input-box">
              <label>Last Name</label>
              <input type="text" name="lastName" placeholder="Last Name" required />
            </div>
          </div>

        <div class="gender-box">
            <h3>Gender</h3>
            <div class="gender-option">
              <div class="gender">
                <input type="radio" id="check-male" name="gender" value="Male" checked />
                <label for="check-male">male</label>
              </div>
              <div class="gender">
                <input type="radio" id="check-female" name="gender" value="Female" />
                <label for="check-female">Female</label>
              </div>
            </div>
          </div>

        <div class="column">
            <div class="input-box">
              <label>Phone number</label>
              <input type="tel" name="phoneNumber" placeholder="Enter your phone number" required />
            </div>
            <div class="input-box">
              <label>Email</label>
              <input type="email" name="email" placeholder="Enter your email" required />
            </div>
          </div>

        <div class="column">
          <div class="input-box">
            <label>School ID</label>
            <input type="text" name="schoolId" placeholder="Enter your school ID" required />
          </div>
          <div class="input-box">
            <label>Section</label>
            <input type="text" name="section" placeholder="Enter your section" required />
          </div>
        </div>

        <div><label for="skillLevel">Interest :</label></div>
        <div style="padding-left: 3%;">
        <input type="checkbox" name="interests" id="skillLevel" value="Programming">
        <label for="skillLevel" class="selection">Programming</label><br>
        <input type="checkbox" name="interests" id="skillLevel" value="Artificial Intelligence">
        <label for="skillLevel" class="selection">Artificial Intelligence</label><br>
        <input type="checkbox" name="interests" id="skillLevel" value="Cybersecurity">
        <label for="skillLevel" class="selection">Cybersecurity</label><br>
        <input type="checkbox" name="interests" id="skillLevel" value="Web Development">
        <label for="skillLevel" class="selection">Web Development</label><br>
        <input type="checkbox" name="interests" id="skillLevel" value="Data science">
        <label for="skillLevel" class="selection">Data science</label>
        </div>
        

        <div><label for="interest" style="margin-right: 1%;">Your skill level at your most preffered interest is: </label>
        <select name="skillLevel" id="interest">
          <option value="Beginner">Beginner</option>
          <option value="Intermediate">Intermediate</option>
          <option value="Advanced">Advanced</option>
          </select>
        </div>


        <button type="submit">Submit</button>
      </form>
    </section>
  </body>
</html>