
/*News*/

.news-section{
    width: 100%;
}
.news-section .section-content{
    width: 85%;
    margin: 20px auto;
}
.news-section .section-content .news-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    margin: 25px auto;
}
.news-section .section-content .news-cards .news-card{
    width: 100%;
    background-color: #f7f7f7;
    position: relative;
}
.news-section .section-content .news-cards .news-card img{
    width: 100%;
    height: 250px;
}
.news-section .section-content .news-cards .news-card .article{
    padding: 15px 20px;
}
.news-section .section-content .news-cards .news-card .article h4{
    font-size: 24px;
    color: #4a4a4a;
}
.news-section .section-content .news-cards .news-card .article p{
    font-size: 16px;
    margin: 10px 0px;
    color: #6a6a6a;
}
.news-section .section-content .news-cards .news-card a{
    text-decoration: none;
    display: inline-block;
    background-color: #2a2a62;
    padding: 8px 15px;
    margin-left: 20px;
    color: #fff;
    margin-bottom: 20px;
    border-radius: 25px;
}
.news-section .section-content .news-cards .news-card a:hover{
    background-color: #52528d;
}
.news-section .section-content .news-cards .news-card .posted-date p{
    font-weight: 500;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    background-color: #f29727;
	color: white;
    padding: 5px 5px;
    font-size: 14px;
}
@media screen and (max-width:920px){
    .news-section .section-content .news-cards{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width:768px){
    .news-section .section-content .news-cards{
        grid-template-columns: 1fr;
    }
}


/* Events ................*/

.eventscard-container {
	margin: 20px 0;
}

.eventscard-container,
.eventscard-container * {
	box-sizing: border-box;
}
.eventscard-container {
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}
.eventscard {
	position: relative;
	width: 100%;
	min-height: 300px;
	margin-bottom: 40px;
	border-radius: 10px;
	background-color: #fff;
	border: 2px solid #ddd;
	font-size: 18px;
	overflow: hidden;
	cursor: pointer;
	box-shadow: 0 4px 21px -12px rgba(0, 0, 0, .66);
	transition: box-shadow 0.2s ease, transform 0.2s ease;
	padding: 20px;
}
.eventscard:hover {
	box-shadow: 0 34px 32px -33px rgba(0, 0, 0, .18);
	transform: translate(0px, -3px);
}
.eventscard::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(-70deg, #424242, transparent 50%);
	opacity: 0.07;
}
.eventscard:nth-child(2n)::before {
	background-image: linear-gradient(-250deg, #424242, transparent 50%);
}
.eventscard-innerbox {

	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.eventscard-innerbox .posted-date{
    font-weight: 500;
    position: absolute;
    bottom: 0;
    right: 0;
    display: inline-block;
    background-color: #f29727;
	color: #fff;
    padding-top: 8px;
	padding-left: 8px;
    font-size: 14px;
	width: 20%;
}
.eventscard-img {
	position: absolute;
	height: 100%;
	width: 20%;
	top: 0;
	left: 0;
	transition: transform 0.2s ease;
}
.eventscard:nth-child(2n) .eventscard-img {
	left: initial;
	right: 0;
}

.eventscard:hover .eventscard-img {
	transform: scale(1.05) rotate(1deg);
}
.eventscard:hover .eventscard-bar {
	width: 70px;
}
.eventscard-textbox {
	position: relative;
	top: 7%;
	bottom: 7%;
	left: 21%;
    right: 1%;
	width: 78%;
	font-size: 17px;
}
.eventscard:nth-child(2n) .eventscard-textbox {
	position: relative;
	top: 7%;
	bottom: 7%;
	left: 1%;
    right: 21%;
	width: 78%;
	font-size: 17px;
}


.eventscard-textbox * {
	position: relative;
}
.eventscard-title {
	font-family: 'Voces', 'Open Sans', arial, sans-serif;
	font-size: 24px;
}
.eventscard-subtitle {
	font-family: 'Voces', 'Open Sans', arial, sans-serif;
	color: #888;
}
.eventscard-bar {
	left: -2px;
	width: 50px;
	height: 5px;
	margin: 10px 0;
	border-radius: 5px;
	background-color: #424242;
	transition: width 0.2s ease;
}
.eventscard-blue .eventscard-bar { background-color: #0088FF; }
.eventscard-blue::before { background-image: linear-gradient(-70deg, #0088FF, transparent 50%); }
.eventscard-blue:nth-child(2n)::before { background-image: linear-gradient(-250deg, #0088FF, transparent 50%); }

.eventscard-description {

	font-size: 15px;
	color: #424242;
	height: auto;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 30px;
}
.eventscard-tagbox {
	position: absolute;
	bottom: 3%;
	font-size: 14px;
	cursor: default;
	user-select: none;
	pointer-events: none;
}
.eventscard-tag {
	display: inline-block;
	background: transparent;
	color: #777;
	border-radius: 3px 0 0 3px;
	line-height: 26px;
	padding: 0 10px 0 23px;
	position: relative;
	margin-right: 20px;
	cursor: default;
	user-select: none;
	transition: color 0.2s;
}

/*new
.eventscard-img2{
	display: none;
}
*/

@media screen and (max-width:1200px){
    .eventscard-container{
       width: 98% ;
    }
    
}
/*new*/
@media screen and (max-width:750px){
    .eventscard-img{
       display: none;
    }
	.eventscard-textbox, .eventscard:nth-child(2n) .eventscard-textbox {
        height: 100%;
		margin-top: 7%;
		margin-bottom: 20px;
		margin-left: 5%;
		left: 1%;
		width: 98%;
		font-size: 17px;
	}
	/*
	.eventscard-img2{
		display: block;
		width: 100%;
		height: 200px;
		border-radius: 10px;
		
	}*/	
	.eventscard-innerbox .posted-date{
		width: 100%;
	}
	.eventscard{
		height: fit-content;
	}
    
}

/* Gallery */

.gallery{
    z-index: 3;
    background: #fff;
  

}
.gallery .controls{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 0;
    list-style: none;
	z-index: 3;
}

.gallery .image-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
	z-index: 3;
}
.gallery .image-container .gallery-image{
    height: 240px;
    width: 350px;
    overflow: hidden;
    border: 5px solid #eee;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    margin: 20px;
	z-index: 3;
}
.gallery .image-container .gallery-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    transition: 1s;
	z-index: 3;
}


.gallery .image-container .gallery-image:hover img{
    transform: scale(1.02);
}





























